@font-face {
    font-family: monogram;
    src: url(/ThaleahFat.ttf);
}

body {
    font-family: monogram, monospace;
    font-size: 2rem;
    overflow: hidden;
}

a:link {
    text-decoration: none;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

#textbox {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 2vh;
    min-height: 10vh;
    background: white;
    border-radius: 3px;
    outline-style: solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    word-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
}

.ui-text {
    margin: 0;
    user-select: none;
}

.ui-close-btn {
    font-family: monogram, monospace;
    border-style: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: inherit;
}

.btn-container {
    align-self: flex-end;
    margin-top: 1rem;
}

/* TODO: make display to flex when a dialogue is open */
.note {
    position: absolute;
    left: 5%;
    top: 1vh;
    display: none;
    flex-direction: column;
    color: rgb(238, 238, 238);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    max-width: 1000%;
    animation: fadeIn 2s ease-out;
}

.highlight {
    font-weight: bold;
    color: cyan;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.progress {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ddd;
    height: 30px;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    pointer-events: none;
}

.progress-done {
    font-family: monogram, monospace;
    font-weight: bolder;
    color: #fff;
    height: 100%;
    background: linear-gradient(to right, #06beb6 40%, #48b1bf 50%, #06beb6 60%);
    background-size: 200% 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    box-shadow:
        0 0 3px -5px rgba(253, 2, 140, 0.5),
        0 3px 150px rgba(253, 2, 140, 0.3);
    transition: width 0.5s ease;
    overflow: hidden;
    animation: shimmer 2s infinite linear;
    position: relative;
}

.achievement-icon {
    width: 75px;
    height: auto;
    animation: fadeIn 2s ease-out forwards;
}

.achievement-banner {
    display: none;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ddd;
    height: 80px;
    width: 450px;
    border-radius: 50px;
    overflow: hidden;
}

.achievement-title {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 20%;
    display: none;
    color: #ffffff;
    background-image: linear-gradient(to right, #5c84d9, #6e85b7);
    padding: 5px 10px;
    font-size: 18px;
    animation: fadeIn 2s ease-out forwards;
}

.achievement-description {
    position: absolute;
    top: 40%;
    left: 20%;
    display: none;
    color: #333;
    font-size: 20px;
    text-align: left;
    line-height: 15px;
    animation: slideInFromBottom 0.5s ease-out forwards;
}

.achievement-notification {
    display: none;
    position: absolute;
    text-align: left;
    top: 40%;
    left: 12%;
    color: #333;
    font-size: 30px;
    text-align: left;
    line-height: 15px;
    animation: slideInFromBottom 0.5s ease-out forwards;
    overflow: hidden;
}

#iconContainer {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-message-box {
    position: relative;
    right: 220px;
    bottom: 180px;
    display: flex;
    width: 200px;
    justify-content: center;
    background-color: #0a0a12;
    color: #00ffff;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0;
    transition:
        opacity 0.5s,
        transform 0.5s;
    pointer-events: none;
    border: 1px solid #ff00ff;
    box-shadow: 0 0 10px #ff00ff;
}

.icon {
    width: 70px;
    height: 70px;
    background-color: transparent;
    display: none;
}

.icon img {
    position: relative;
    transform: scale(0.5);
    transform-origin: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}

.icon:hover img {
    transform: translate(-50%, -50%) scale(0.55);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.icon:hover .icon-message-box {
    animation: neonPulse 1.5s infinite ease-in-out;
}

#hexagon-menu {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 10px;
    display: none;
}

.bottom-row {
    position: fixed;
    top: 80%;
    left: 115px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hexagon-item {
    position: relative;
    background-color: #7df9ff;
    color: #ff2079;
    text-align: center;
    line-height: 200px;
    width: 220px;
    height: 220px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scaleUp 1s ease-out forwards;
}

.hexagon-item::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: #ff2079;
    z-index: -1;
    scale: 0.9;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-item::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #1a1a2e;
    z-index: -1;
    scale: 0.8;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.hexagon-item:hover::before {
    background-color: #bb29eb;
}

.hexagon-item:hover::after {
    background-color: #1a1a2e;
    box-shadow:
        0 0 10px 5px #0ff,
        0 0 20px 10px #0ff;
}

.clear-storage-button {
    background-color: #1a1a2e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    display: none;
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    animation: scaleUp 1s ease-out forwards;
    font-family: "monogram";
    text-align: center;
    align-items: center;
    justify-content: center;
}

.clear-storage-button:hover {
    background-color: #0d0d1a;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-bin {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
}

.storage-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.storage-modal-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.storage-modal-header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.storage-modal-body p {
    font-size: 16px;
    color: #666;
    margin: 20px 0;
}

.storage-modal-footer {
    display: flex;
    justify-content: space-around;
}

.modal-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.m-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/M.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.e-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/E.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.h-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/H.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.c-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/C.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.w-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/W.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.s-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/S.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.a-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/A.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.d-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/D.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.up-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/ARROWUP.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.down-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/ARROWDOWN.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.left-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/ARROWLEFT.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.right-key {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("/keys/ARROWRIGHT.png");
    background-size: 64px 32px;
    background-repeat: no-repeat;
    vertical-align: middle;
    animation: keyPressAnimation 1s infinite;
}

.firework,
.firework::before,
.firework::after {
    --color: "";
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.5vmin;
    aspect-ratio: 1;
    background:
        radial-gradient(circle, var(--color) 0.2vmin, #0000 0) 50% 0%,
        radial-gradient(circle, var(--color) 0.3vmin, #0000 0) 0% 50%,
        radial-gradient(circle, var(--color) 0.5vmin, #0000 0) 50% 100%,
        radial-gradient(circle, var(--color) 0.2vmin, #0000 0) 100% 50%,
        radial-gradient(circle, var(--color) 0.3vmin, #0000 0) 80% 90%,
        radial-gradient(circle, var(--color) 0.5vmin, #0000 0) 95% 90%,
        radial-gradient(circle, var(--color) 0.5vmin, #0000 0) 10% 60%,
        radial-gradient(circle, var(--color) 0.2vmin, #0000 0) 31% 80%,
        radial-gradient(circle, var(--color) 0.3vmin, #0000 0) 80% 10%,
        radial-gradient(circle, var(--color) 0.2vmin, #0000 0) 90% 23%,
        radial-gradient(circle, var(--color) 0.3vmin, #0000 0) 45% 20%,
        radial-gradient(circle, var(--color) 0.5vmin, #0000 0) 13% 24%;
    background-size: 0.5vmin 0.5vmin;
    background-repeat: no-repeat;
    animation: firework 2s infinite;
    pointer-events: none;
}

.firework::before {
    transform: translate(-50%, -50%) rotate(25deg) !important;
}

.firework::after {
    transform: translate(-50%, -50%) rotate(-37deg) !important;
}

.completing-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.completing-modal-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: bounceIn 0.5s forwards;
}

.completing-modal-header h2 {
    margin: 0;
    font-size: 36px;
    color: #333;
}

.completing-modal-body p {
    font-size: 24px;
    color: #666;
    margin: 20px 0;
}

.completing-modal-footer {
    display: flex;
    justify-content: space-around;
}

.star-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition:
        color 0.3s ease,
        box-shadow 0.3s ease;
}

.star-icon:hover {
    animation: pulse 0.6s infinite;
    color: gold;
    box-shadow:
        0 0 10px gold,
        0 0 20px gold,
        0 0 30px gold;
}

.reset-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.reset-icon:hover {
    animation: rotate360 0.6s linear infinite;
}

#confirm-button {
    background-color: #d9534f;
    color: #fff;
}

#confirm-button:hover {
    background-color: #c9302c;
}

#cancel-button {
    background-color: #5bc0de;
    color: #fff;
}

#cancel-button:hover {
    background-color: #31b0d5;
}

#d-mail-interface {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

#phone-frame {
    background-color: #000;
    border-radius: 30px;
    padding: 20px;
    width: 370px;
    height: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 10px solid #8b0000;
}

#phone-screen {
    background-color: #333333;
    border-radius: 20px;
    padding: 20px;
    width: 320px;
    height: 100%;
    display: block;
    flex-direction: column;
    justify-content: space-between;
}

#phone-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 220px;
    margin-top: 10px;
}

#d-mail-message {
    height: 100px;
    width: 100%;
}

#send-d-mail {
    margin-left: 70px;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: linear-gradient(to bottom, #e0e0e0, #a0a0a0);
    color: #000;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px #666;
    transition: box-shadow 0.3s;
}

#send-d-mail:hover {
    background: linear-gradient(to bottom, #f0f0f0, #b0b0b0);
}

#send-d-mail:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.phone-button {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    background-color: #555;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bar-signal {
    width: 20px;
    height: 20px;
}

.mail-icon {
    margin-left: 200px;
    width: 20px;
    height: 20px;
}

.battery-icon {
    width: 20px;
    height: 20px;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scrollOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes neonPulse {
    0% {
        box-shadow:
            0 0 5px #ff00ff,
            0 0 15px #ff00ff,
            0 0 30px #ff00ff,
            0 0 60px #ff00ff;
        opacity: 1;
    }
    50% {
        box-shadow:
            0 0 2px #ff00ff,
            0 0 4px #ff00ff,
            0 0 6px #ff00ff,
            0 0 10px #ff00ff;
        opacity: 0.7;
    }
    100% {
        box-shadow:
            0 0 5px #ff00ff,
            0 0 15px #ff00ff,
            0 0 30px #ff00ff,
            0 0 60px #ff00ff;
        opacity: 1;
    }
}

@keyframes keyPressAnimation {
    0%,
    50% {
        background-position: 0 0;
    }
    50.01%,
    100% {
        background-position: -32px 0;
    }
}

@keyframes firework {
    0% {
        transform: translate(-50%, 60vh);
        width: 0.5vmin;
        opacity: 1;
    }
    50% {
        width: 0.5vmin;
        opacity: 1;
    }
    100% {
        width: 45vmin;
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.glitch-wrapper {
    position: fixed;
    left: 5%;
    top: 5%;
    width: 15%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

.glitch {
    position: relative;
    display: flex;
    animation: shift 4s ease-in-out infinite alternate;
    z-index: 1;
}

.glitch-digit {
    animation: glitch-animation 0.5s ease-in-out;
}

.glitch img {
    width: 30px;
    height: auto;
    object-fit: contain;
    display: block;
}

.glitch:before {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: -2px;
    text-shadow: -1px 0 #0ff;
    width: 100%;
    color: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 2px;
    text-shadow: 1px 0 #ff00ff;
    width: 100%;
    color: #fff;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
    0% {
        clip: rect(61px, 9999px, 52px, 0);
    }

    5% {
        clip: rect(33px, 9999px, 144px, 0);
    }

    10% {
        clip: rect(121px, 9999px, 115px, 0);
    }

    15% {
        clip: rect(144px, 9999px, 162px, 0);
    }

    20% {
        clip: rect(62px, 9999px, 180px, 0);
    }

    25% {
        clip: rect(34px, 9999px, 42px, 0);
    }

    30% {
        clip: rect(147px, 9999px, 179px, 0);
    }

    35% {
        clip: rect(99px, 9999px, 63px, 0);
    }

    40% {
        clip: rect(188px, 9999px, 122px, 0);
    }

    45% {
        clip: rect(154px, 9999px, 14px, 0);
    }

    50% {
        clip: rect(63px, 9999px, 37px, 0);
    }

    55% {
        clip: rect(161px, 9999px, 147px, 0);
    }

    60% {
        clip: rect(109px, 9999px, 175px, 0);
    }

    65% {
        clip: rect(157px, 9999px, 88px, 0);
    }

    70% {
        clip: rect(173px, 9999px, 131px, 0);
    }

    75% {
        clip: rect(62px, 9999px, 70px, 0);
    }

    80% {
        clip: rect(24px, 9999px, 153px, 0);
    }

    85% {
        clip: rect(138px, 9999px, 40px, 0);
    }

    90% {
        clip: rect(79px, 9999px, 136px, 0);
    }

    95% {
        clip: rect(25px, 9999px, 34px, 0);
    }

    100% {
        clip: rect(173px, 9999px, 166px, 0);
    }
}

@keyframes noise-after {
    0% {
        clip: rect(26px, 9999px, 33px, 0);
    }

    5% {
        clip: rect(140px, 9999px, 198px, 0);
    }

    10% {
        clip: rect(184px, 9999px, 89px, 0);
    }

    15% {
        clip: rect(121px, 9999px, 6px, 0);
    }

    20% {
        clip: rect(181px, 9999px, 99px, 0);
    }

    25% {
        clip: rect(154px, 9999px, 133px, 0);
    }

    30% {
        clip: rect(134px, 9999px, 169px, 0);
    }

    35% {
        clip: rect(26px, 9999px, 187px, 0);
    }

    40% {
        clip: rect(147px, 9999px, 137px, 0);
    }

    45% {
        clip: rect(31px, 9999px, 52px, 0);
    }

    50% {
        clip: rect(191px, 9999px, 109px, 0);
    }

    55% {
        clip: rect(74px, 9999px, 54px, 0);
    }

    60% {
        clip: rect(145px, 9999px, 75px, 0);
    }

    65% {
        clip: rect(153px, 9999px, 198px, 0);
    }

    70% {
        clip: rect(99px, 9999px, 136px, 0);
    }

    75% {
        clip: rect(118px, 9999px, 192px, 0);
    }

    80% {
        clip: rect(1px, 9999px, 83px, 0);
    }

    85% {
        clip: rect(145px, 9999px, 98px, 0);
    }

    90% {
        clip: rect(121px, 9999px, 154px, 0);
    }

    95% {
        clip: rect(156px, 9999px, 44px, 0);
    }

    100% {
        clip: rect(67px, 9999px, 122px, 0);
    }
}

@keyframes shift {
    0%,
    40%,
    44%,
    58%,
    61%,
    65%,
    69%,
    73%,
    100% {
        transform: skewX(0deg);
    }

    41% {
        transform: skewX(10deg);
    }

    42% {
        transform: skewX(-10deg);
    }

    59% {
        transform: skewX(40deg) skewY(10deg);
    }

    60% {
        transform: skewX(-40deg) skewY(-10deg);
    }

    63% {
        transform: skewX(10deg) skewY(-5deg);
    }

    70% {
        transform: skewX(-50deg) skewY(-20deg);
    }

    71% {
        transform: skewX(10deg) skewY(-10deg);
    }
}

@keyframes glitch-animation {
    0% {
        opacity: 0;
        transform: scale(0.8) translate(0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1.2) translate(2px, -2px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(0, 0);
    }
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("background/Cyberpunk_city_street.gif") no-repeat center center fixed;
    background-size: cover;
    z-index: 2;
}

#menu-container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.image-container {
    position: relative;
    width: 30%;
    height: auto;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.text-overlay {
    font-size: 3vw;
    color: yellow;
    font-weight: bold;
    top: 5%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.socials-text {
    margin-left: 6vh;
}

.social-link {
    color: #00ff00;
    font-size: 3vw;
    position: relative;
    bottom: 40%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10%;
    right: 20%;
    margin-bottom: 2rem;
}

.social-link img {
    width: auto;
    height: 100%;
}

.social-link img:hover {
    transform: scale(1.1);
}

.missions-text p {
    font-size: 2vw;
    color: red;
}
