@font-face {
    font-family: monogram;
    src: url(/ThaleahFat.ttf);
}

body {
    font-family: monogram, monospace;
    font-size: 2rem;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}

#textbox {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 2vh;
    min-height: 10vh;
    background: white;
    border-radius: 3px;
    outline-style: solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    word-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
}

.ui-text {
    margin: 0;
    user-select: none;
}

.ui-close-btn {
    font-family: monogram, monospace;
    border-style: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: inherit;
}

.btn-container {
    align-self: flex-end;
    margin-top: 1rem;
}

.note {
    position: absolute;
    left: 5%;
    top: 1vh;
    display: flex;
    flex-direction: column;
    color: rgb(238, 238, 238);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
    animation: fadeIn 2s ease-out;
}

.highlight {
    font-weight: bold;
    color: cyan;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.progress {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ddd;
    height: 30px;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    pointer-events: none;
}

.progress-done {
    font-family: monogram, monospace;
    font-weight: bolder;
    color: #fff;
    height: 100%;
    background: linear-gradient(to right, #06beb6 40%, #48b1bf 50%, #06beb6 60%);
    background-size: 200% 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    box-shadow:
        0 0 3px -5px rgba(253, 2, 140, 0.5),
        0 3px 150px rgba(253, 2, 140, 0.3);
    transition: width 0.5s ease;
    overflow: hidden;
    animation: shimmer 2s infinite linear;
    position: relative;
}

.achievement-icon {
    width: 75px;
    height: auto;
    animation: fadeIn 2s ease-out forwards;
}

.achievement-banner {
    display: none;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: #ddd;
    height: 80px;
    width: 450px;
    border-radius: 50px;
    overflow: hidden;
}

.achievement-title {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 20%;
    display: none;
    color: #ffffff;
    background-image: linear-gradient(to right, #5c84d9, #6e85b7);
    padding: 5px 10px;
    font-size: 18px;
    animation: fadeIn 2s ease-out forwards;
}

.achievement-description {
    position: absolute;
    top: 40%;
    left: 20%;
    display: none;
    color: #333;
    font-size: 20px;
    text-align: left;
    line-height: 15px;
    animation: slideInFromBottom 0.5s ease-out forwards;
}

.achievement-notification {
    display: none;
    position: absolute;
    text-align: left;
    top: 40%;
    left: 12%;
    color: #333;
    font-size: 30px;
    text-align: left;
    line-height: 15px;
    animation: slideInFromBottom 0.5s ease-out forwards;
    overflow: hidden;
}

#iconContainer {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icon-message-box {
    position: relative;
    right: 220px;
    bottom: 180px;
    display: flex;
    width: 200px;
    justify-content: center;
    background-color: #0a0a12;
    color: #00ffff;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0;
    transition:
        opacity 0.5s,
        transform 0.5s;
    pointer-events: none;
    border: 1px solid #ff00ff;
    box-shadow: 0 0 10px #ff00ff;
}

.icon {
    width: 70px;
    height: 70px;
    background-color: transparent;
    display: none;
}

.icon img {
    position: relative;
    transform: scale(0.5);
    transform-origin: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
}

.icon:hover img {
    transform: translate(-50%, -50%) scale(0.55);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.icon:hover .icon-message-box {
    animation: neonPulse 1.5s infinite ease-in-out;
}

#hexagon-menu {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    gap: 10px;
    display: none;
}

.bottom-row {
    position: fixed;
    top: 80%;
    left: 115px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hexagon-item {
    position: relative;
    background-color: #7df9ff;
    color: #ff2079;
    text-align: center;
    line-height: 200px;
    width: 220px;
    height: 220px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: scaleUp 1s ease-out forwards;
}

.hexagon-item::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: #ff2079;
    z-index: -1;
    scale: 0.9;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-item::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #1a1a2e;
    z-index: -1;
    scale: 0.8;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.hexagon-item:hover::before {
    background-color: #bb29eb;
}

.hexagon-item:hover::after {
    background-color: #1a1a2e;
    box-shadow:
        0 0 10px 5px #0ff,
        0 0 20px 10px #0ff;
}

.clear-storage-button {
    background-color: #1a1a2e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    display: none;
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    animation: scaleUp 1s ease-out forwards;
    font-family: "monogram";
    text-align: center;
    align-items: center;
    justify-content: center;
}

.icon-bin {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    display: inline-block;
    vertical-align: middle;
}

.clear-storage-button:hover {
    background-color: #0d0d1a;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.modal-header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.modal-body p {
    font-size: 16px;
    color: #666;
    margin: 20px 0;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

.modal-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#confirm-button {
    background-color: #d9534f;
    color: #fff;
}

#confirm-button:hover {
    background-color: #c9302c;
}

#cancel-button {
    background-color: #5bc0de;
    color: #fff;
}

#cancel-button:hover {
    background-color: #31b0d5;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scrollOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes neonPulse {
    0% {
        box-shadow:
            0 0 5px #ff00ff,
            0 0 15px #ff00ff,
            0 0 30px #ff00ff,
            0 0 60px #ff00ff;
        opacity: 1;
    }
    50% {
        box-shadow:
            0 0 2px #ff00ff,
            0 0 4px #ff00ff,
            0 0 6px #ff00ff,
            0 0 10px #ff00ff;
        opacity: 0.7;
    }
    100% {
        box-shadow:
            0 0 5px #ff00ff,
            0 0 15px #ff00ff,
            0 0 30px #ff00ff,
            0 0 60px #ff00ff;
        opacity: 1;
    }
}
