@import "tailwindcss";

@keyframes bubbleUp {
    0% {
        transform: translateY(0);
        opacity: 0.7;
    }
    80% {
        opacity: 1;
    }
    100% {
        transform: translateY(-180px);
        opacity: 0;
    }
}

.bubble {
    animation: bubbleUp 5s linear infinite;
}
